[submodule "ongoing_research/Paellaaa"]
	path = ongoing_research/Paellaaa
	url = https://github.com/AmericanPresidentJimmyCarter/Paellaaa
[submodule "ongoing_research/Arroz-Con-Cosas"]
	path = ongoing_research/Arroz-Con-Cosas
	url = https://github.com/pabloppp/Arroz-Con-Cosas
